# 1. Error Handling in Python

In [ ]:
print("Hello World"

SyntaxError: incomplete input (ipython-input-3-353226650.py, line 1)

In [ ]:
2 + "Hello"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x

NameError: name 'x' is not defined

In [ ]:
ls = [1,2,3]

In [ ]:
ls[3]

IndexError: list index out of range

In [ ]:
d1 = {'k1':'v1'}

In [ ]:
d1['k1']

TypeError: list indices must be integers or slices, not str

In [ ]:
d1=['k2']

In [ ]:
int(2.4)

2

In [ ]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

In [ ]:
10/0

ZeroDivisionError: division by zero

In [ ]:
# try except

try:
   result = 10/0
except ZeroDivisionError:
  print("Error: Cannot divide by zero")

IndentationError: unexpected indent (ipython-input-28-1781369069.py, line 4)

In [ ]:
# try except

try:
   result = 10/0
except ZeroDivisionError:
  print("Error: Cannot divide by zero")

Error: Cannot divide by zero

In [ ]:
try:
  x = int("Hello")
except ValueError:
  print("Error: Please input appropriate value")

Error: Please input appropriate value

In [ ]:
x = int("Hello")
y = 2+3

ValueError: invalid literal for int() with base 10: 'Hello'

In [ ]:
try:
  x = int("Hello")
except ValueError:
  print("Error: Please input appropriate value")

  y=2+3

Error: Please input appropriate value

In [ ]:
y

5